html{
  font-size:90%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main--body{
  font-family: 'Mochiy Pop P One', sans-serif;
  background: linear-gradient(0deg, #27292E 50%, #ffff 50%);
  width:100%;
  height:100vh;
  /* border:1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}